<form method="post" asp-action="Index">
    <div class="input-group w-50">
        <input class="form-control" name="searchString" type="search" placeholder="Search" style="box-shadow: none" />
        <button style="border:black 1px;" class="btn btn-orange-two" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</form>