@model ContractSystem_Blogic.DTOs.LoginDTO

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<div class="container-login">
    <div class="child-login">
        <img style="width:70px;height:100px; margin-bottom:20px;" src="/images/blogic_logo.png" />
        <h1 style="margin-bottom:40px;">Login</h1>
        @if (ViewData["LoginFlag"] != null)
        {
            <div style="padding:5px; margin-bottom:10px;" class="alert-danger view-data">
                @ViewData["LoginFlag"]
            </div>
        }
        <form method="post" asp-action="Login">
            <div class="form-group">
                <label for="Username">Username:</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button class="btn btn-orange" type="submit">Log In</button>
        </form>
    </div>
</div>

